# emacs
*~
*~
*#

# OSX
.DS_Store

server/node_modules
server/bower_components
server/lib-cov
*.seed
*.log
*.out
*.pid
server/npm-debug.log
server/.netbeans
server/nbproject
server/.idea
server/.node_history

server/toSails/config/local.js
server/toSails/config/connections.js
server/toSails/npm-debug.log
server/toSails/.netbeans
server/toSails/nbproject
server/toSails/.idea
server/toSails/.node_history
server/toSails/node_modules
server/toSails/bower_components
server/toSails/npm-debug.log
server/toSails/.tmp
server/toSails/dump.rdb
server/toSails/config/apiconfig.js
